

body{
	text-align: center;
}

#stuff {
	margin-left: auto;
	margin-right:auto;
	width: 750px;
}


#page {
	background: #33CC99;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 800px;
	height: 800px;
}


.bigHr {
	background-color: black !important;
	height: 8px !important;
	border: solid 0px !important;
}

hr {
	background-color: black !important;
	height: 5px; !important;
	border: solid 0px !important;
	
}

